# ========================
# OS / Editor junk
# ========================
.DS_Store
Thumbs.db

# ========================
# Python cache
# ========================
__pycache__/
*.py[cod]
*$py.class

# ========================
# Virtual environments
# ========================
venv/
.env/
.venv/

# ========================
# IDE / editor configs
# ========================
.idea/
.vscode/

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# Logs / outputs
# ========================
*.log
logs/
outputs/

004 NumPy/basics_numpy.ipynb
.virtual_documents/
anaconda_projects/db/
.anaconda_project/
anaconda-project*.yml
.anaconda_project/
anaconda-project*.yml
